:root {
    --shadow: 2px;
    --space: 10px;
    --square: 64px;

    --blink: 0.3s;
    --heartbeat: 1s;
    --breath: 6s;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Book Antiqua", serif;
    background-color: silver;
}

/* ---------- header --------- */
header {
    position: sticky;
    top: 0;
    box-shadow: 0 0 var(--shadow) black;
    opacity: 0.9;
}
/* ----- logo ----- */
header h1 {
    text-align: center;
    text-shadow: 0 0 var(--shadow) black;
    background: linear-gradient(to right, yellow, cyan, magenta);
    padding: var(--space) 0;
    animation: hueRotateAnimation var(--breath) ease-in-out infinite;
}
@keyframes hueRotateAnimation {
    0% {
        filter: hue-rotate(0deg);
    }
    /* 50% {
        filter: hue-rotate(180deg);
    } */
    100% {
        filter: hue-rotate(360deg);
    }
}
/* ----- navigation ----- */
header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
    margin-bottom: var(--space);
}
header ul li {
    padding: var(--space);
}
header ul li a {
    display: block;
    color: gray;
    text-decoration: none;
    text-align: center;
    transition: color var(--blink) ease-in-out, text-shadow var(--heartbeat) ease-in-out;
}
header ul li a:hover, #active {
    color: white;
    text-shadow: 0 0 var(--shadow) white;
    transition: color var(--blink) ease-in-out, text-shadow var(--heartbeat) ease-in-out;
}

/* -------- footer -------- */
footer p {
    text-align: center;
    padding: var(--space) 0;
    color: gray;
    opacity: 0.5;
}

/* --------- home page --------- */
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
/* ----- home gif image ----- */
#home img {
    margin: var(--space);
    width: calc(var(--square)*2);
    border: var(--shadow) dotted gray;
    box-shadow: 0 0 var(--shadow) black;
}
/* ----- home paragraph ----- */
#home p {
    margin: var(--space);
    padding: var(--space);
}
/* ----- home buy button ----- */
#home a {
    color: black;
    text-shadow: 0 0 var(--shadow) black;
    text-decoration: none;
    text-align: center;
    margin: var(--space);
    padding: var(--space) var(--square);
    border-radius: var(--square);
    background: radial-gradient(ellipse, yellow, cyan, magenta);
    box-shadow: 0 0 var(--shadow) magenta;
    animation: hueRotateAnimation var(--breath) ease-in-out infinite;
}
#home a:hover {
    background: radial-gradient(ellipse, magenta, cyan, yellow);
    box-shadow: 0 0 var(--shadow) yellow;
}

/* -------- table of cards --------- */
#table-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* word-break: break-all; */
    overflow-x: auto;
    margin: var(--space);
    border: var(--shadow) dotted gray;
}
table {
    background-color: black;
    border-collapse: collapse;
    text-align: center;
}
table img {
    width: var(--square);
    height: var(--square);
    transition: transform var(--blink) ease-in-out, box-shadow var(--blink) ease-in-out;
}
/* table img:hover {
    transition: transform var(--blink) ease-in-out, box-shadow var(--blink) ease-in-out;
    transform: scale(1.5);
    box-shadow: 0 0 var(--shadow) black;
} */
th {
    text-decoration: underline;
    color: white;
}
th, td {
    border: var(--shadow) solid gray;
    padding: var(--space) var(--shadow);
}
tr:nth-child(3n-1) {color: yellow;}
tr:nth-child(3n) {color: cyan;}
tr:nth-child(3n+1) {color: magenta;}
th:nth-child(6), td:nth-child(6) {
    text-align: justify;
}

/* rules */
#rules {
    text-align: justify;
    background-color: black;
    color: white;
    margin: var(--space);
    border: var(--shadow) dotted gray;
    padding: var(--space);
}
#rules h1, h2, h3, h4, h5, h6 {
    text-align: center;
    padding: var(--space);
}
#rules h1, h4{
    color: yellow
}
#rules h2, h5 {
    color: cyan;
}
#rules h3, h6 {
    color: magenta;
}
#rules p {
    margin: var(--space);
}
#rules a {
    color: gray;
    text-decoration: none;
    transition: color var(--blink) ease-in-out, text-shadow var(--heartbeat) ease-in-out;
}
#rules a:hover {
    color: white;
    text-shadow: 0 0 var(--shadow) white;
    transition: color var(--blink) ease-in-out, text-shadow var(--heartbeat) ease-in-out;
}
#rules ul, ol, dl {
    padding-left: var(--square);
}

/* contact */
#contact {
    display: flex;
    flex-wrap: wrap;
    margin: var(--space);
    justify-content: space-around;
}
#contact img {
    margin: var(--space);
    width: var(--square);
    height: var(--square);
    transition: transform 0.3s ease, filter var(--blink) ease-in-out;
}
#contact img:hover {
    transform: scale(1.1);
    filter: invert(100%) drop-shadow(0 0 var(--shadow) black);
    transition: transform 0.3s ease, filter var(--blink) ease-in-out;
}

::selection {
    color: white;
    text-shadow: 0 0 var(--shadow) black;
    background-color: rgba(128, 128, 128, 0.5);   
}