:root {
    --shadow: 2px;
    --space: 10px;
    --square: 64px;

    --blink: 0.3s;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Book Antiqua", serif;
}
/* ---------- header --------- */
header {
    position: sticky;
    top: 0;
    box-shadow: 0 0 var(--shadow) black;
    opacity: 0.9;
}
/* ----- logo ----- */
header h1 {
    text-align: center;
    text-shadow: 0 0 var(--shadow) black;
    background: linear-gradient(to right, yellow, cyan, magenta);
    padding: var(--shadow);
    animation-name: hueRotateAnimation;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}
@keyframes hueRotateAnimation {
    0% {
        filter: hue-rotate(0deg);
    }
    /* 50% {
        filter: hue-rotate(180deg);
    } */
    100% {
        filter: hue-rotate(360deg);
    }
}
/* ----- navigation ----- */
header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
    margin-bottom: var(--space);
}
header ul li {
    padding: var(--space);
    transition: text-shadow var(--blink) ease-in-out;
}
header ul li a {
    display: block;
    color: gray;
    text-decoration: none;
    text-align: center;
    transition: text-shadow var(--blink) ease-in-out;
}
header ul li a:hover, #active {
    color: white;
    text-shadow: 0 0 var(--shadow) white;
}

/* -------- footer -------- */
footer p {
    text-align: center;
    padding: var(--space) 0;
}

/* --------- home page --------- */
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
/* ----- home gif image ----- */
#home img {
    margin: var(--space);
    width: calc(var(--square)*2);
    box-shadow: 0 0 var(--shadow) black;
}
/* ----- home buy button ----- */
#home a {
    color: black;
    text-decoration: none;
    text-align: center;
    /* align-self: center;
    justify-self: center; */
    padding: var(--space) var(--square);
    border-radius: 0.3rem; /*theGameCrafter button border radius size*/
    background-color: #bbd329; /* theGameCrafter color 1*/
    transition: background-color 0.3s ease;
}
#home a:hover {background-color: #d0e550;} /* theGameCrafter color 2*/
#home a:active {background-color: #1e7e34;} /* theGameCrafter color 3*/

/* -------- table of cards --------- */
table {
    border: var(--shadow) solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: black;
    width: 100%;
    max-width: 100%;
}

th {text-decoration: underline;}

th, td {
    text-align: center;
}

table img {
    width: 4em;
    height: 4em;
}

th:nth-child(6), td:nth-child(6) {
    text-align: justify;
}

th {color: white}
tr:nth-child(3n-1) {color: yellow;}
tr:nth-child(3n) {color: cyan;}
tr:nth-child(3n+1) {color: magenta;}

/* ids */



/* rules */
#rules {
    color: white;
    text-align: justify;
    background-color: black;
}

#rules h1, h2 {text-align: center;}

#rules a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;   
}

#rules a:hover {color: red;}

#rules img {
    display: flex;
    max-width: 32em;
    max-height: 32em;
}

/* contact */
#contact ul {
    width: 100%;
    background-color: black;
    list-style-type: none;
    overflow: hidden;
}

#contact a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;   
}

#contact a:hover {
    color: white;
    background: gray;
}

::selection {
    
}